= simple_form_for @survey, remote: true do |f|
  = f.input :name

  #questions
    = f.simple_fields_for :questions do |questions|
      = render 'question_fields', f: questions

    .links= link_to_add_association 'Add Question', f, :questions

  .modal-footer
    %p.text-right= f.button :submit
