.nested-fields
  = f.input :content, label: 'Question'
  = link_to_remove_association 'remove question', f

  #answers
    = f.simple_fields_for :answers do |answers|
      = render 'answer_fields', f: answers

    .links= link_to_add_association 'Add Answer', f, :answers
