%fieldset.question
  = f.input :content, label: 'Question'
  = f.input :_destroy, as: :boolean, label: false,
    inline_label: 'Remove Question'
  = f.fields_for :answers do |builder|
    = render 'answer_fields', f: builder
  = link_to_add_fields 'Add Answer', f, :answers
